{{ define "play" }}
<div id="game">
    <section id="area">
        <div id="screen">
            <article id="man">
                <div id="part1"></div>
                <div id="part2"></div>
                <div id="part3"></div>
                <div id="part4"></div>
                <div id="part5"></div>
                <div id="part6"></div>
            </article>
            
        </div>
        
        <article id="word"></article>
        <article id="letters"></article>
        <article id="status"></article>
    </section>
</div>
    <!-- <div class="game">
        <h2>Guess the word</h2>
        <p>Word: <span id="word"></span></p>
        <p>Misses: <span id="misses"></span></p>
        <p>Guesses: <span id="guesses"></span></p>
        <p>Guess: <input type="text" id="guess" maxlength="1" size="1"></p>
        <button id="guessButton">Guess</button>
        <button id="newGame">New Game</button>
    </div>   -->
{{ end }}